.banner_content{
    padding-top: 250px;
    padding-left: 3rem;
    width: 35rem;
    color: white;
    background: transparent;
}

.banner_content h2, h5{
    background: transparent;
}

.banner_content h2{
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.banner_content h5{
    font-size: 1rem;
    padding-top: 1rem;
}

.more{
    color: white;
}

.more:hover{
    color: black;
    background-color: white;
}